.progress-bar {
	width: 100%;
	height: 10px;
	background-color: #e0e0e0;
	border-radius: 5px;
	overflow: hidden;
}

.progress-fill {
	height: 100%;
	border-radius: 5px;
}

.web-dev {
	width: 80%;
	background-color: #6c6ce4;
}

.optimization {
	width: 93%;
	background-color: #f9d74b;
}

.backend {
	width: 43%;
	background-color: #f97b8b;
}

.hover-jump:hover {
	transform: translateY(-0.25rem);
}
